LICHESS_USERNAME=Matumnich
LICHESS_API_TOKEN=
LICHESS_API_BASE_URL=https://lichess.org/api/games/user
LICHESS_MAX_GAMES=5000
LICHESS_FETCH_BATCH=300
SESSION_GAP_MINUTES=30
LOCAL_TIMEZONE=Europe/Warsaw
STOCKFISH_PATH=C:/path/to/stockfish.exe
ENGINE_MOVETIME_MS=40
ENGINE_THREADS=4
ENGINE_HASH_MB=256
MLFLOW_TRACKING_URI=
WANDB_PROJECT=chessquant-tilt-v2
WANDB_MODE=disabled
